#frame{
    width: 760px;
    height: 760px;
    margin: 20px auto;
    position: relative;
}
#globe,#support,#mountain,#mountain2,#snow,.firTree,.firTree2,.firTree3,.firTree4,.firTree5,.firTree6,.firTree7,.triangle,.triangle2,.triangle3,.triangle4,.triangle5,.triangle6,.triangle7,#fir_tr,#fir_tr2,#fir_tr3,#snowman,#head,#eye1,#eye2,#nose,#mouth,#hat,#hat_top,#middle,#button,#button2,#button3,#left_hand,#left_hand2,#right_hand,#bottom,#tree_line,#mountains,#happy,#c_hat,#c_hat_top,#c_hat_bottom{
    position: absolute;
}
#globe{
    width: 80%;
    height: 80%;
    background-color:#2c3e50;
    background-image:url(stars1.png);
    border-radius: 50%;
    left: 10%;
    top: 5%;
    border:2px solid black;
    overflow: hidden;
}
#support{
    border-bottom: 200px solid #22313f;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0;
    width: 400px;
    top: 70%;
    left: 80px;
}
#mountains{
    height: 100%;
    width: 100%;
    animation:BounceLeftMountains 10s infinite ease-in-out;
    -moz-animation:BounceLeftMountains 10s infinite ease-in-out;
    -webkit-animation:BounceLeftMountains 10s infinite ease-in-out;
}
#mountain,#mountain2{
    width: 0;
    height: 0;
    border-left: 550px solid transparent;
    border-right: 550px solid transparent;
    border-bottom: 300px solid #4B77BE;
    top: 15%;
    left: -60%;
}
#mountain2 {
    left: -30%;
    top: 20%;
}
#snow {
    width: 100%;
    height: 40%;
    top: 60%;
    background:#ecf0f1;
    animation:BounceUp 10s infinite ease-in-out;
    -moz-animation:BounceUp 10s infinite ease-in-out;
    -webkit-animation:BounceUp 10s infinite ease-in-out;
}
/**                             TREEs                          **/
#tree_line{
    width: 100%;
    height: 100%;
    animation:BounceUpTrees 10s infinite ease-in-out;
    -moz-animation:BounceUpTrees 10s infinite ease-in-out;
    -webkit-animation:BounceUpTrees 10s infinite ease-in-out;
}
.firTree,.firTree2,.firTree3,.firTree4,.firTree5,.firTree6,.firTree7{
    width: 200px;
    height: 300px;
    top: 200px;
    left: 60px;
}
.triangle,.triangle2,.triangle3,.triangle4,.triangle5,.triangle6,.triangle7,#fir_tr,#fir_tr2,#fir_tr3{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 75px solid #2ecc71;
    left: 50px;
}
.triangle5{
    border-bottom: 75px solid #249553;
}
.triangle2,.triangle6{
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 150px solid #27ae60;
    top: 15px;
    left: 20px;
}
.triangle6{
    border-bottom: 150px solid #249553;
}
.triangle3,.triangle7{
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 225px solid #26a65b;
    top: 35px;
    left: -10px;
}
.triangle7{border-bottom: 225px solid #249553;}
.triangle4{
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 300px solid #249553;
    top: 60px;
    left: -40px;
}
#fir_tr{
    border-left: 210px solid transparent;
    border-right: 210px solid transparent;
    border-bottom: 280px solid #218249;
    top: 170px;
    left: -160px;
}
#fir_tr2{
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 200px solid #218249;
    top: 240px;
    left: 140px;
}
#fir_tr3{
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 220px solid #218249;
    top: 190px;
    left: 460px;
}
.firTree2{
    top: 200px;
    left: 220px;
    transform:scale(0.6);
    -ms-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
}
.firTree3{
    top: 210px;
    left: 400px;
    transform:scale(0.9);
    -ms-transform:scale(0.9);
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
}
.firTree4{
    top: 205px;
    left: 120px;
    transform:scale(0.9);
    -ms-transform:scale(0.9);
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
}
.firTree5{
    top: 195px;
    left: 340px;
    transform:scale(0.7);
    -ms-transform:scale(0.7);
    -webkit-transform:scale(0.7);
    -moz-transform:scale(0.7);
}
.firTree6{
    top: 215px;
    left: 280px;
    transform:scale(0.7);
    -ms-transform:scale(0.7);
    -webkit-transform:scale(0.7);
    -moz-transform:scale(0.7);
}
.firTree7{
    top: 190px;
    left: 450px;
    transform:scale(0.9);
    -ms-transform:scale(0.9);
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
}

#snowman{
    width: 200px;
    height: 300px;
    left: 280px;
    top: 270px;
    animation: BounceRightSnowman 10s infinite ease-in-out;
    -moz-animation: BounceRightSnowman 10s infinite ease-in-out;
    -webkit-animation: BounceRightSnowman 10s infinite ease-in-out;
}

#head{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    left: 65px;
    top: 35px;
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;

}
#eye1,#eye2{
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #2c3e50;
    top: 20px;
    left: 20px;
}
#eye2{
    left: 32px;
}
#nose{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid orange;
    top: 30px;
    left: 5px;
}
#mouth{
    width: 40px;
    height: 40px;
    border:4px solid;
    border-radius:50%;
    border-color: transparent transparent #c0392b transparent;
    top: 12px;
    left: 5px;
    transform:rotate(-25deg);
    -ms-transform:rotate(-25deg);
    -webkit-transform:rotate(-25deg);
    -moz-transform:rotate(-25deg);
}

#hat,#hat_top{
    width: 80px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    top: 22px;
    left: 70px;
    transform:rotate(20deg);
    -ms-transform:rotate(20deg);
    -webkit-transform:rotate(20deg);
    -moz-transform:rotate(20deg);
    border-top: 2px solid grey;
}
#hat_top{
    width: 50px;
    border-radius: 40% 50% 0 0 ;
    top: 0;
    left: 95px;
}
#middle{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #fff;
    left: 45px;
    top: 80px;
    border: 1px solid grey;
    border-right: 7px solid grey;
    border-bottom: 3px solid grey;
}
#button,#button2,#button3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: grey;
    top: 32px;
    left: 28px;
}
#button2{
    width: 8px;
    height: 8px;
    top: 58px;
    left: 25px;
}
#button3{
    width: 6px;
    height: 6px;
    top: 84px;
    left: 30px;
}
#left_hand,#left_hand2,#right_hand{
    position: absolute;
    height: 25px;
    width: 50px;
    background: #fff;
    top: 20px;
    left: 90px;
    border-radius: 0 50% 50% 0;
    transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    border-bottom: 4px solid grey;
    border-top: 2px solid grey;
    border-right: 4px solid grey;
}
#left_hand2{
    height: 22px;
    width: 40px;
    top: -7px;
    left: 110px;
    transform:rotate(-80deg);
    -ms-transform:rotate(-80deg);
    -webkit-transform:rotate(-80deg);
    -moz-transform:rotate(-80deg);
    border-right: 3px solid grey;
}
#right_hand{
    width: 60px;
    top: 110px;
    left: 25px;
    transform:rotate(130deg);
    -ms-transform:rotate(130deg);
    -webkit-transform:rotate(130deg);
    -moz-transform:rotate(130deg);
    border:2px solid grey;
}
#bottom{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    left: 25px;
    top: 140px;
    border: 1px solid grey;
    border-right: 9px solid grey;
    border-bottom: 4px solid grey;
}
#happy{
    height: 120px;
    width: 210px;
    top: 250px;
    left: 100px;
    text-align: center;
    font-size: 3em;
    background: #fff;
    border:10px solid;
    border-color: #333 #777 #777 #333;
    animation:greetings 10s infinite ease-in-out;
    -moz-animation:greetings 10s infinite ease-in-out;
    -webkit-animation:greetings 10s infinite ease-in-out;
}
#happy p {
    color: #AB3124;
    margin: 0;
}
#c_hat{
    width: 0;
    height: 0;
    border-left:40px solid transparent;
    border-right:40px solid transparent;
    border-bottom:60px solid #c0392b;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    left: 182px;
    top: -42px;
}
#c_hat_bottom{
    width: 90px;
    height:25px;
    background: #ecf0f1;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    left: 150px;
    top: -2px;
    border-radius: 15px 15px 5px 5px;
    border:3px solid #999;
}
#c_hat_top{
    width: 27px;
    height: 27px;
    background: #ecf0f1;
    border-radius: 50%;
    border:3px solid #999;
    left: 225px;
    top: -47px;
}

/*                       ANIMATIONS                 */

@-webkit-keyframes BounceUp {
    0% {
        top: 100%;
    }
    10% {
        top: 100%;
    }
    15% {
        top: 60%;
    }
    85% {
        top: 60%;
    }
    90% {
        top: 100%;
    }
    100%{
        top: 100%;
    }
}
@-webkit-keyframes BounceUpTrees {
    0% {
        top: 100%;
    }
    15% {
        top: 100%;
    }
    25% {
        top: 0%;
    }
    80% {
        top: 0%
    }
    90% {
        top: 100%;
    }
    95%{
        top: 100%;
    }
    100%{
        top: 100%;
    }
}
@-webkit-keyframes BounceLeftMountains {
    0% {
        left: -150%;
    }
    25% {
        left: -150%;
    }
    35% {
        left: 0%;
    }
    70% {
        left: 0%
    }
    90% {
        left: -150%;
    }
    100%{
        left: -150%;
    }
}
@-webkit-keyframes BounceRightSnowman {
    0% {
        left: 100%;
    }
    30% {
        left: 100%;
    }
    40% {
        left: 52%;
    }
    70% {
        left: 52%;
    }
    90% {
        left: 100%;
    }
    100%{
        left: 100%;
    }
}
@-webkit-keyframes greetings {
    0% {
        transform:scale(0.0);
    }
    30% {
        transform:scale(0.0);
    }
    40% {
        transform:scale(1.0);
    }
    85% {
        transform:scale(1.0);
    }
    90% {
        transform:scale(0.0);
    }
    100%{
        transform:scale(0.0);
    }
}
@keyframes BounceUp {
    0% {
        top: 100%;
    }
    10% {
        top: 100%;
    }
    15% {
        top: 60%;
    }
    85% {
        top: 60%;
    }
    90% {
        top: 100%;
    }
    100%{
        top: 100%;
    }
}
@keyframes BounceUpTrees {
    0% {
        top: 100%;
    }
    15% {
        top: 100%;
    }
    25% {
        top: 0%;
    }
    80% {
        top: 0%
    }
    90% {
        top: 100%;
    }
    95%{
        top: 100%;
    }
    100%{
        top: 100%;
    }
}
@keyframes BounceLeftMountains {
    0% {
        left: -150%;
    }
    25% {
        left: -150%;
    }
    35% {
        left: 0%;
    }
    70% {
        left: 0%
    }
    90% {
        left: -150%;
    }
    100%{
        left: -150%;
    }
}
@keyframes BounceRightSnowman {
    0% {
        left: 100%;
    }
    30% {
        left: 100%;
    }
    40% {
        left: 52%;
    }
    70% {
        left: 52%;
    }
    90% {
        left: 100%;
    }
    100%{
        left: 100%;
    }
}
@keyframes greetings {
    0% {
        transform:scale(0.0);
    }
    30% {
        transform:scale(0.0);
    }
    40% {
        transform:scale(1.0);
    }
    85% {
        transform:scale(1.0);
    }
    90% {
        transform:scale(0.0);
    }
    100%{
        transform:scale(0.0);
    }
}

/* entire container, keeps perspective */
body {
    width: 1400px;
    height: 600px;
    background:#6699cc;
    margin: auto;
    text-align: center;

}
.container {
    width: 1200px;
    height: 600px;
    background-color: black;
    margin: auto;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    margin-top: 5%;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 100%;

}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    margin-top: 50px;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);

}

/* Kerstman begin*/

.santa {
    background:#3ac6f4;
    width:120px;
    height:120px;
    border-radius:50%;
    position:relative;
    top:50%;
    left:0;right:0;margin:0 auto;
    bottom:0;
    margin-top:-60px;

}

.santa .snow {
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 18px;
    top: 44px;
}


.santa .snow:after {
    width: 6px;
    height: 6px;
    content: "";
    display: inline-block;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -14px;
    left: 0px;
}

.santa .snow:before {
    width: 4px;
    height: 4px;
    content: "";
    display: inline-block;
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: -12px;
    left: -11px;
}

.santa .hat {
    width: 64px;
    height: 31px;
    border-radius: 200px 200px 0 0;
    background: #ef4753;
    margin: 0 auto;
    top: -11px;
    position: relative;
    left: 5px;
    z-index:20;
}

.santa .hat:after {
    width: 60px;
    height: 15px;
    border-radius: 20px;
    content: "";
    display: block;
    background: white;
    position: relative;
    top: 22px;
    left: -3px;
}

.santa .face {
    width: 54px;
    height: 57px;
    background: white;
    border-radius: 0px 0px 50px 50px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
    top: -6px;
}

.santa .face .eyes {
    background:#f1ddd5;
    width:45px;
    height:15px;
    margin:0 auto;
    position:relative;
    left:-1px;
    text-align: center;
    top:4px;
    padding-top: 0px;
}

.santa .face .eyes:after, righteye {
    width: 8px;
    height: 6px;
    background: transparent;
    box-shadow: 0px -2px #793623;
    content: "";
    display:inline-block;
    margin:0 auto;
    border-radius: 50%;
}

.santa .face .eyes:before, lefteye {
    width: 8px;
    height: 6px;
    background: transparent;
    box-shadow: 0px -2px #793623;
    content: "";
    display:inline-block;
    margin:0 auto;
    border-radius: 50%;
    margin-right:5px;
}

.santa .mouth {
    background:#a31f2b;
    border-radius:50%;
    width:6px;
    height:6px;
    position:absolute;
    bottom:20px;
    right:17px;
}

.santa .body {
    width: 93px;
    height: 84px;
    background: #ef4753;
    border-radius: 90px 90px 0px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align:center;
    z-index:10;
}

.santa .body:after {
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 68px;
    z-index: 50;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
}

.santa .body:before {
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 55px;
    z-index: 50;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
}

.santa .hat .hat-end {
    width: 13px;
    height: 32px;
    content: "";
    background: #ef4753;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 15px;
    border-radius: 0px 11px 0px 0px;
}

.santa .hat .hat-end:after {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    content: "";
    display: inline-block;
    top: 30px;
    position: absolute;
    left: 0px;
    z-index: 11;
}

.circles {
    background: #a31f2b;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    right: -6px;
    top: 12px;
}

.circles:after {
    background:white;
    width:40px;
    height:40px;
    right:0;
    top:50px;
    content:"";
    border-radius:50%;
}

.dirty-overflow {
    overflow: hidden;
    width: 120px;
    height: 76px;
    border-radius: 0px 0px 105px 105px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Kerstman eind*/
